<div class="container" [formGroup]="searchForm">
  <input type="text" class="search-input" formControlName="searchTerm" placeholder="Enter a title">
  <button class="search-button" (click)="search()">Search</button>
</div>

<div *ngIf="searchResults">
  <div class="card-container">
    <mat-card class="card-item" *ngFor="let result of searchResults.search">
      <mat-card-title>{{ result.title }}</mat-card-title>
      <mat-card-content>
        <p>Year: {{ result.year }}</p>
        <p>IMDB ID: {{ result.imdbID }}</p>
        <p>Type: {{ result.type }}</p>
      </mat-card-content>
      <img class="card-image" mat-card-image [src]="result.poster" alt="Poster">
    </mat-card>
  </div>
</div>
